[submodule "addons/resource_editor"]
	path = addons/resource_editor
	url = https://github.com/Cafe-GameDev/ResourceEditor.git
[submodule "addons/audio_manager"]
	path = addons/audio_manager
	url = https://github.com/Cafe-GameDev/AudioManager.git
[submodule "addons/state_machine"]
	path = addons/state_machine
	url = https://github.com/Cafe-GameDev/StateMachine.git
[submodule "addons/data_behavior"]
	path = addons/data_behavior
	url = https://github.com/Cafe-GameDev/DataBehavior.git
[submodule "addons/blueprint_editor"]
	path = addons/blueprint_editor
	url = https://github.com/Cafe-GameDev/BlueprintEditor.git
