[submodule "addons/audio_manager"]
	path = addons/audio_manager
	url = https://github.com/Cafe-GameDev/AudioCafe.git
[submodule "addons/state_machine"]
	path = addons/state_machine
	url = https://github.com/Cafe-GameDev/StateCafe.git
[submodule "addons/data_behavior"]
	path = addons/data_behavior
	url = https://github.com/Cafe-GameDev/DataCafe.git
