*.zip
.env
GEMINI.md
/.godot
.godot/
/android/
*.exe
*.env
/addons/docs
/addons/CafeAudioManager/docs
addons/CafeAudioManager/briefingv1.md
addons/CafeAudioManager/briefingv2.md
/addons/CafeAudioManager
/addons/AudioCafe/assets/music/Teste
*.aseprite
*.gif
*.DS_Store
*DS_Store
/addons/resonate
addons/AudioCafe/assets
addons/AudioCafe/cafegame.dev/
